
<form method="post" action="/deployments/<%= @deployment.id() %>">

  <label for="deployment_length">Length:</label>
  <input id="deployment_length" type="number" name="campaign_length" value="<%= @deployment.campaign_length() %>">

  <input type="submit" value="Alter Deployment">

</form>
