<div class="index">

  <br>
  <br>

  <form class="input-form" method="post" action="/legions">

    <label for="name">Name:</label>
    <input id="name" type="text" name="name"/>
    <br>
    <label for="strength">Strength (in cohorts):</label>
    <input id="strength" type="number" name="strength"/>
    <br>
    <label for="moto">Moto:</label>
    <input id="moto" type="text" name="moto"/>
    <br>
    <input class="submit-button" type="submit" value="Raise Legion"/>

  </form>

</div>
