
<form method="post" action="/legions">

  <label for="name">Name:</label>
  <input id="name" type="text" name="name"/>

  <label for="strength">Strength (in cohorts):</label>
  <input id="strength" type="number" name="strength"/>

  <label for="moto">Moto:</label>
  <input id="moto" type="text" name="moto"/>

  <input type="submit" value="Raise Legion"/>

</form>
