<body id="home-body">
  <h1 id="home-title">All Roads Lead To Home</h1>
  <div class="image-container">
    <img id="rome-map" src="/images/second_triumverate.jpg" alt="Map of Roman Empire under Augustus">
</div>
</body>
