<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Caesar's Legions</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <div class="title-wrapper">
      <h3 id="layout-title">Caesar's Legions</h3>

      <img src="/images/eagle_flag.jpg" alt="Golden eagle insignia" width="100" height="80">
    </div>

    <nav id="menu">
      <li class="menu-item"> <a href="/">Home</a> </li>
      <li class="menu-item"><a href="/legions">Legions</a></li>
      <li class="menu-item"><a href="/generals">Generals</a></li>
      <li class="menu-item"> <a href="/deployments">Deployments</a> </li>
    </nav>

    <%= yield %>

  </body>
</html>
