<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <li> <a href="/">Home</a> </li>
      <li><a href="/legions">Legions</a></li>
      <li><a href="/generals">Generals</a></li>
      <li> <a href="/deployments">Deployments</a> </li>
    </nav>

    <%= yield %>
  </body>
</html>
