<div class="index">

  <h1>Generals</h1>
  <form action="/generals/search" method="post">
    <input type="text" name="name">
    <input type="submit" value="Search">
  </form>

  <p><a href="/generals/new">Hire New General</a></p>
  <br>
  <% for general in @generals %>
  <div class="index-item">
    <a href="/generals/<%= general.id() %>"><%= general.name() %></a>
  </div>
  <br>
  <% end %>

</div>
