
<form method="post" action="/generals">

  <label for="name">Name:</label>
  <input id="name" type="text" name="name"/>

  <label for="reputation">Reputation:</label>
  <input id="reputation" type="number" name="reputation"/>

  <input type="submit" value="Recruit General"/>

</form>
