<div class="index">

  <br>
  <br>

  <form class="input-form" method="post" action="/generals">

    <label for="name">Name:</label>
    <input id="name" type="text" name="name"/>
    <br>
    <label for="reputation">Reputation:</label>
    <input id="reputation" type="number" name="reputation"/>
    <br>
    <input class="submit-button" type="submit" value="Recruit General"/>

  </form>

</div>
