<div class="index">

  <h3><%= @general.name() %></h3>
  <div class="index-item">

    <ul>
      <li>Reputation: <%= @general.reputation() %></li>
    </ul>
  </div>
  <br>
  <form method="post" action="/generals/<%= @general.id() %>/delete">
    <input type="submit" value="'Fire' General">
  </form>

</div>
