body {
  font-family: 'PT Sans', sans-serif;
  color: #6a60a9;
  background-color: #fffcf0;
}

#menu {
  display: flex;
}

.menu-item {
  display: inline-block;
  flex-grow: 1;
}

.title-wrapper {
  display: flex;
}

#layout-title {
  align-content: center;
  display: inline-block;
}

img.title-wrapper {
  align-content: right;
}

a {
  text-decoration: none;
  color: #201b3d;
}
