body {
  font-family: 'PT Sans', sans-serif;
  color: #4d3eb2;
  background-color: #fffcf0;
}

.menu-nav {
  display: flex;
  justify-content: space-around;
  /* margin-left: 2em; */
}

.menu-item {
  display: inline-block;
  flex-grow: 1;
  margin: auto;
  padding-left: 2em;
  padding-right: 2em;
  /* margin-left: 1em; */
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #fbd14b;
}

#layout-title {
  margin-left: 1em;
}

img.title-wrapper {
  /* justify-self: right; */
}

a {
  text-decoration: none;
  color: #6e62bc;
}

#home-title {
  text-align: center;
}

#home-body {
  /* background-image: url("/images/second_triumverate.jpg");
  background-size: cover; */
}

.image-container {
  display: flex;
  justify-content: center;
}

#rome-map {
  opacity: 0.5;
  height: 50%;
  width: 50%;
}

.index {
  padding-left: 1em;
  margin-left: 2em;
}

.index-item {
  border-left: 2px solid #4d3eb2;
  padding-left: 1em;
}

ul {
  list-style-type: none;
}

.input-form {
  height: 25%;
  width: 25%;
  display: flex;
  flex-direction: column;
  border: 1px solid #4d3eb2;
  padding: 0.5em;
  border-radius: 0.5em;
}

.submit-button {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1em;
  font-weight: bold;
  background-color: #fbd14b;
  color: #4d3eb2;
  border-radius: 2em;
}
