body {
  font-family: 'PT Sans', sans-serif;
  color: #4d3eb2;
  background-color: #fffcf0;
}

#menu {
  display: flex;
}

.menu-item {
  display: inline-block;
  flex-grow: 1;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #fbd14b;
}

#layout-title {
  margin-left: 1em;
}

img.title-wrapper {
  /* justify-self: right; */
}

a {
  text-decoration: none;
  color: #6e62bc;
}
